.container {
  background-color: lightgoldenrodyellow;
  height: 100vh;
}

.button {
  padding: 10px 5px;
  background-color: lightblue;
  font-weight: 700;
  color: black;
  border: 1px solid grey;
  border-radius: 10px;
}
